{% extends 'base.html' %}

{% block header%}Student Form{% endblock %}

{% block page_title %}Student Form{% endblock %}

{% block content %}
  <form action="/student-add" method="POST">
    <label>First Name
          <input type="text" name="first_name">
      </label>
      <br>
      <label>Last Name
          <input type="text" name="last_name">
      </label>
      <br>
      <label>GitHub Username
          <input type="text" name="github">
      </label>
      <br>
      <input type="submit" value="Display Student">
  </form>
{% endblock %}